In [2]:
type(1)

int

In [3]:
type("Hello")

str

In [4]:
type(True)

bool

In [6]:
type(1.0)

float

In [7]:
"hello"

'hello'

In [8]:
'hello'

'hello'

In [1]:
type('Hello')

str

In [2]:
# var name = value

In [3]:
a=10

In [4]:
type(a)

int

In [5]:
a='mdl'

In [6]:
type(a)

str

In [7]:
a=10
b=20

In [8]:
print(a+b)
print(a*b)
print(b%a)
print((a*b)+(a/b))

30
200
0
200.5

In [9]:
s="MDL"
print(s)

MDL

In [10]:
s="Ram is "
age=25
City="Lonere"
print(s,age,City)

Ram is  25 Lonere

In [11]:
print('MDL')

MDL

In [18]:
first_name = 'Mahek'
last_name = 'Tembe'

In [19]:
print("My first name is {} and last name is{}".format(first_name,last_name))

My first name is Mahek and last name isTembe

In [17]:
print("My first name is {} and last name is{}".format(last_name,first_name))

My first name is Tembe and last name isMahek

In [21]:
print("My first name is {first} and last name is{last}".format(first= first_name,last = last_name))

My first name is Mahek and last name isTembe

In [22]:
print("My first name is {} and Last name is {}".format(last_name,first_name))
My first name is Laddha and Last name is Manjushree
28]:
28]:

My first name is Tembe and Last name is Mahek

In [23]:
print("My first name is {first} and Last name is {last}".format(last = last_name, first = first_name))

My first name is Mahek and Last name is Tembe

In [24]:
print("Python", end='@')
print("programming")

Python@programming

In [25]:
print('pratik', 'dbatu.ac.in', sep='@')

pratik@dbatu.ac.in

In [26]:
print('G', 'F', 'G', sep='')

GFG

In [27]:
print('09', '02', '2025', sep='-')

09-02-2025

In [28]:
name = 'Tushar'
age = 23
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is Tushar and I'm 23 years old.

In [29]:
# Taking input from the user
num = int(input("Enter a value: "))
add = num + 5
# Output
print("The sum is %d" %add)

Enter a value:  12

The sum is 17

In [32]:
# taking two inputs at a time
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)

Enter two values:  12 2

Number of boys:  12
Number of girls:  2

In [34]:
#taking three inputs at a time
x, y, z = input("Enter three values: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)

Enter three values:  12 22 33

Total number of students:  12
Number of boys is :  22
Number of girls is :  33

In [38]:
# Prompting the user for input
age_input = input("Enter your age: ")
# Converting the input to an integer
age = int(age_input)
# Checking conditions based on user input
if age < 0:
    print("Please enter a valid age.")
elif age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

Enter your age:  17

You are a minor.

In [39]:
name = input("Enter your name: ")
print("Hello,", name, "! Welcome!")

Enter your name:  mahek

Hello, mahek ! Welcome!

In [41]:
# Taking input as string
color = input("What color is rose?: ")
print(color)

What color is rose?:  red

red

In [42]:
# Taking input as int
# Typecasting to int
n = int(input("How many roses?: "))
print(n)

How many roses?:  5

5

In [43]:
# Taking input as float
# Typecasting to float
price = float(input("Price of each rose?: "))
print(price)

Price of each rose?:  23

23.0

In [45]:
a = "Hello World"
b = 10
c = 11.22
d = ("Computers", "for", "students")
e = ["Computers", "for", "students"]
f = {"Computers": 1, "for":2, "students":3}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>