In [2]:
def my_function():
    print("Hello from a function")

In [3]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [4]:
def my_function(fname):
    print( "Engineer " + fname)
my_function("Manjushree")
my_function("Harsha")
my_function("Iram")

Engineer Manjushree
Engineer Harsha
Engineer Iram

In [5]:
def my_function(fname, lname):
    print(fname + " " + lname)
my_function("Manjushree", "Laddha")

Manjushree Laddha

In [7]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
my_function("Amar", "Akbar", "Anthony")

The youngest child is Anthony

In [8]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)
my_function(child1 = "Ram", child2 = "Krishna", child3 = "Hari")

The youngest child is Hari

In [9]:
def my_function(**kid):
    print("His first name is " + kid["fname"])
    print("His last name is " + kid["lname"])
my_function(fname = "Ram", lname = "Shinde")

His first name is Ram
His last name is Shinde

In [10]:
def my_function(country = "Norway"):
    print("I am from " + country)
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [11]:
def my_function(food):
    for x in food:
        print(x)
fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

In [12]:
def my_function(x):
    return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [13]:
def my_function(x, /):
    print(x)
my_function(3)

3

In [14]:
def my_function(x):
    print(x)
my_function(x = 3)

3

In [15]:
def my_function(*, x):
    print(x)
my_function(x = 3)

3

In [16]:
def my_function(x):
    print(x)
my_function(3)

3

In [17]:
def my_function(a, b, /, *, c, d):
    print(a + b + c + d)
my_function(5, 6, c = 7, d = 8)

26

In [19]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result
print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

In [1]:
x = lambda a : a + 10
print(x(5))

15

In [11]:
x = lambda a, b : a * b
print(x(5,6))

30

In [9]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [13]:
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
print(mydoubler(11))

22

In [14]:
def myfunc(n):
    return lambda a : a * n
mytripler = myfunc(3)
print(mytripler(11))

33

In [15]:
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
mytripler = myfunc(3)
print(mydoubler(11))
print(mytripler(11))

22
33