In [1]:
x = 17
y = 2
print(x // y)

8

#Operator   Example       Same As
=           x = 5         x = 5
+=          x += 3        x = x + 3
-=          x -= 3        x = x - 3
*=          x *= 3        x = x * 3
/=          x /= 3        x = x / 3
%=          x %= 3        x = x % 3
//=         x //= 3       x = x // 3
**=         x **= 3       x = x ** 3
&=          x &= 3        x = x & 3
|=          x |= 3        x = x | 3
^=          x ^= 3        x = x ^ 3
>>=         x >>= 3       x = x >> 3
<<=         x <<= 3       x = x << 3
:=        print(x := 3)   x = 3
                          print(x)

Operator    Name                        Example
==          Equal                       x == y
!=          Not equal                   x!= y
>           Greater than                x > y
<           Less than                   x < y
>=          Greater than or equal to    x >= y
<=          Less than or equal to       x <= y

In [9]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
# returns True because z is the same object as x
print(x is y)
# returns False because x is not the same object as y, even if they have the same content
print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [10]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z)
# returns False because z is the same object as x
print(x is not y)
# returns True because x is not the same object as y, even if they have the same content
print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [11]:
x = ["apple", "banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

True

In [12]:
x = ["apple", "banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

True

In [13]:
print(6 ^ 3)
"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:
6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================
Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

'\nThe ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n5 = 0000000000000101\n====================\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [15]:
print(8 >> 2)
"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.
If you move each bit 2 times to the right, 8 becomes 2:
8 = 0000000000001000
becomes
2 = 0000000000000010
Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
8 = 0000000000001000
9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\nIf you move each bit 2 times to the right, 8 becomes 2:\n8 = 0000000000001000\nbecomes\n2 = 0000000000000010\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n8 = 0000000000001000\n9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [16]:
print(5 + 4 - 7 + 3)

5