In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [3]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [4]:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

In [5]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}
print(set4)

{True, 34, 'abc', 40, 'male'}

In [7]:
print(type(set4))

<class 'set'>

In [11]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

In [10]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

In [12]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [13]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

In [14]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

In [15]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'pineapple', 'papaya', 'apple', 'banana', 'cherry', 'mango'}

In [16]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'banana', 'cherry', 'orange', 'apple', 'kiwi'}

In [17]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [18]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [19]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [20]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [22]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

In [23]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 'a', 'c', 2, 3, 'b'}

In [24]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{1, 'a', 'c', 2, 3, 'b'}

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)

{1, 'a', 2, 3, 'John', 'cherry', 'bananas', 'c', 'Elena', 'apple', 'b'}

In [26]:
x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 'a', 3, 'c', 'b'}

In [27]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 'a', 'c', 2, 3, 'b'}

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [29]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2
print(set3)

{'apple'}

In [30]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [31]:
set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'microsoft', 'banana', 'google', 'cherry'}

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{'microsoft', 'banana', 'google', 'cherry'}

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'microsoft', 'banana', 'google', 'cherry'}