In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [2]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
#A tuple with strings, integers and boolean values:
tuple4 = ("abc", 34, True, 40, "male")
print(type(tuple4))

<class 'tuple'>

In [3]:
tup = ("gfg", "Python")
print(tup)

('gfg', 'Python')

In [4]:
tup = 4, 5, 6
print(tup)

(4, 5, 6)

In [5]:
tup = tuple([7, 8, 9])
print(tup)

(7, 8, 9)

In [6]:
tup = ()
print(tup)

()

In [7]:
tup = (10, ) # Comma is important here
print(tup) # Output: (10,)
print(type(tup))
# What if we do not use comma
tup = (10) # This an integer (not a tuple)
print(tup)
print(type(tup))

(10,)
<class 'tuple'>
10
<class 'int'>

In [8]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [14]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [16]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [17]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [18]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [19]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [20]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [22]:
tup = (1, 2, 3, 4, 5)
# Traverse through each item in the tuple
for x in tup:
    print(x, end=" ")

1 2 3 4 5

In [23]:
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')
# Concatenating above two
print(tup1 + tup2)

(0, 1, 2, 3, 'python', 'geek')

In [24]:
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')
tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'geek'))

In [26]:
tup = ('python',)*3
print(tup)

('python', 'python', 'python')

In [27]:
tup = (0 ,1, 2, 3)
print(tup[1:])
print(tup[::-1])
print(tup[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [28]:
tup = ('python', 'geek')
print(len(tup))

2

In [29]:
tup = ("immutable", True, 23)
print(tup)

('immutable', True, 23)

In [30]:
a = [0, 1, 2]
tup = tuple(a)
print(tup)

(0, 1, 2)

In [31]:
a, b, c = (100, 200, 300)
print(a)
print(b)
print(c)

100
200
300

In [32]:
a, _, c = (100, 200, 300)
print(a)
print(c)

100
300

In [33]:
a, *b = (1, 2, 3, 4, 5)
print(a)
print(b)

1
[2, 3, 4, 5]

In [34]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [35]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [36]:
nested_tuple = (1, (2, 3), 4)
a, (b, c), d = nested_tuple
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [39]:
def add(*args):
    return sum(args)
print(add(1, 2, 3, 4))

10

In [40]:
def add(a, b, c):
    return a + b + c

nums = (1, 2, 3)
print(add(*nums))

6

In [42]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [44]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [46]:
t = ('red', 'green', 'blue', 'yellow')
# Here, i and color stores the index and value respectively
for i, color in enumerate(t):
    print(f"Index {i}: {color}")

Index 0: red
Index 1: green
Index 2: blue
Index 3: yellow

In [1]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

In [1]:
t = ('red', 'green', 'blue', 'yellow')
# Start from the first index
i = 0
# Loops till the last index (i.e., 3)
while i < len(t):
    print(t[i])
    i += 1

red
green
blue
yellow

In [2]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [3]:
T1 = (36, 24, 3)
T2 = (84, 5, 81)
# Joining the tuples using list comprehension
joined_tuple = [item for subtuple in [T1, T2] for item in subtuple]
# Printing the joined tuple
print("Joined Tuple:", joined_tuple)

Joined Tuple: [36, 24, 3, 84, 5, 81]

In [4]:
T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
L1 = list(T1)
L2 = list(T2)
L1.extend(L2)
T1 = tuple(L1)
print ("Joined Tuple:", T1)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

In [5]:
T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
T3 = sum((T1, T2), ())
print ("Joined Tuple:", T3)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

In [6]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [8]:
T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
for t in T2:
    T1+=(t,)
print (T1)

(10, 20, 30, 40, 'one', 'two', 'three', 'four')

In [9]:
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2)
Tuple2 = ('python', 'geek', 'python',
'for', 'java', 'python')
# count the appearance of 3
res = Tuple1.count(3)
print('Count of 3 in Tuple1 is:', res)
# count the appearance of python
res = Tuple2.count('python')
print('Count of Python in Tuple2 is:', res)

Count of 3 in Tuple1 is: 3
Count of Python in Tuple2 is: 3

In [10]:
Tuple = (0, 1, (2, 3), (2, 3), 1,
[3, 2], 'geeks', (0,))
# count the appearance of (2, 3)
res = Tuple.count((2, 3))
print('Count of (2, 3) in Tuple is:', res)
# count the appearance of [3, 2]
res = Tuple.count([3, 2])
print('Count of [3, 2] in Tuple is:', res)

Count of (2, 3) in Tuple is: 2
Count of [3, 2] in Tuple is: 1

In [11]:
Tuple = (0, 1, 2, 3, 2, 3, 1, 3, 2)
# getting the index of 3
res = Tuple.index(3)
print('First occurrence of 3 is', res)
# getting the index of 3 after 4th
# index
res = Tuple.index(3, 4)
print('First occurrence of 3 after 4th index is:', res)

First occurrence of 3 is 3
First occurrence of 3 after 4th index is: 5